.about_me_page{
    position: relative;
    width: 80vw;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.about_me_title{
    z-index: 1;
    position: absolute;
    font-family: 'Cinzel';
    font-size: 6vw;
}
.about_me_body{
    position: relative;
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about_me_img_container{
    position: relative;
    margin: 1em;
}
.about_me_img{
    display: block;
    width: 30vw;
    height: auto;
}
.about_me_sub_container{
    display: flex;
    flex-direction: column;
}
.about_me_sub_title{
    width: 30vw;
    font-family: 'Work Sans';
    font-size: 1.5vw;
    line-height: 3vw;
}
.about_me_page_button{
    font-size: 2.5vw;
    cursor: pointer;
    color: rgb(0, 0, 0);
    margin: 1em;
    background-color: rgba(250, 235, 215, 0.148);
    text-align: center;
    padding: 0.5em;
    border: 0.5px solid rgb(0, 0, 0);
}
.button_arrow{
    margin-right: 0.5em;
}
.about_me_page_button:hover.about_me_page_button{
    color: white;
    background-color: rgba(49, 48, 47, 0.73);
    box-shadow: 0px 0px 5px 5px rgba(168, 166, 166, 0.315);
}
@media only screen and (max-width: 500px) {
    .about_me_title{
        font-size: 10vw;
    }
    .about_me_sub_title{
        width: 80vw;
        text-align: center;
        font-size: 0.8em;
        line-height: 5vw;
    }
    .about_me_body{
        text-align: center;
        height: fit-content;
        flex-wrap: wrap;
        justify-content: center;
    }
}