.horizontal_animate{
    transition: all 1s ease-out;
    transform: translateX(0);
    opacity: 1;
}
.vertical_animate{
    transition: all 1s ease-out;
    transform: translateY(0);
    opacity: 1;
}
.fade_in{
    transition: all 2s ease-out;
    opacity: 1;
}
.initial_pos{
    transform: translateY(50%);
    opacity: 0;
}
.initial_pos_b{
    opacity: 0;
}