.quote_1{
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
}
.brush_1{
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.quote_1_slogan{
    position: relative;
    z-index: 1;
    font-family: 'Rochester';
    font-size: 6vw;
    margin: auto;
}
@media only screen and (max-width: 500px) {
    .quote_1_slogan{
        text-align: center;
    }
    .quote_1{
        height: 20vh;
    }
}