.social_media_page{
    position: relative;
    width: 80vw;
    margin: 10vh auto;
    height: fit-content;
    display: flex;
}
.ig_img_container{
    width: 80vw;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.ig_1,.ig_2,.ig_3,.ig_4{
    position: relative;
}
.ig_1{
    width: 20vw;
    height: auto;
}
.ig_2{
    z-index: 3;
    width: 10vw;
    height: auto;
    transform: translateX(-50%);
    align-self: center;
}
.ig_3{
    z-index: 2;
    width: 15vw;
    height:auto;
    transform: translateX(-40%);
    align-self: flex-end;
}
.ig_4{
    z-index: 1;
    width: 13vw; 
    height: auto;
    align-self: flex-start;
}
.ig_big_title{
    z-index: 4;
    color: rgb(0, 0, 0);
    font-size: 4vw;
    font-family: 'Cinzel';
    text-align: right;
    position: absolute;
    left: 60%;
}
.ig_sub_title{
    position: absolute;
    right: 5%;
    top: 50%;
    z-index: 4;
    font-size: 4vw;
    font-family: 'Rochester';
    margin: auto;
}